<ion-view title="My Group - Step 5">
    <form name="userPref" novalidate>
        <ion-content class="has-header">
            <br/>

            <div class="list">


                <label class="item item-radio">
                    <input ng-model="person.spendingTrend" type="radio" name="group" value="M">
                    <div class="item-content">
                        Month
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio">
                    <input ng-model="person.spendingTrend" type="radio" name="group" value="W">
                    <div class="item-content">
                        Week
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio">
                    <input ng-model="person.spendingTrend" type="radio" name="group" value="D">
                    <div class="item-content">
                        Day
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>

                <button id="saveDetails" class="button button-full button-positive" ng-click="AddItem(event)" >
                    Continue
                </button>
            </div>
        </ion-content>
    </form>
    <div class="bar bar-footer bar-light">
        <div class="title">Cognizant &copy;2014</div>
    </div>
</ion-view>

