<ion-view title="My Group - Step 1">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <form name="userPref" novalidate>
        <ion-content class="has-header">
            <br/>
            <div class="list card" style="margin-top: 0 !important;margin-bottom: 0 !important;">
                <div class="item item-image"><br/>
                    <p style="font-size: 16px;">Share your current location.</p>
                    <img style="width:60px;height:100px" src="../img/AddressIcon.png"/>
                </div>
            </div>
            <br/>
            <div class="list">
                <div class="error-container" id="locationWarn" style="display:none">Location service not working !</div>
                <div class="error-container" id="errorConsole" style="display:none">Please enter a valid zip code !</div>
                <div class="error-container"
                     ng-show="userPref.zipcode.$invalid && userPref.submitted">Please enter a valid zip code !</div>
                <ul class="list">
                    <li class="item item-toggle">
                        Share your current location ?
                        <label class="toggle toggle-balanced">
                            <input type="checkbox"  ng-true-value="yes" ng-false-value="no" ng-model="person.shareLocationPref"
                                   ng-change="shareLocation()">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                    <li><h2 style="text-align: center">OR</h2></li>
                    <li>
                        <label class="item item-input">
                            <div class="row" style="padding:0 !important">
                                <div class="col col-75" style="padding:0 !important"><div class="input-label">
                                    Zipcode
                                </div>
                                </div>
                                <div class="col" style="padding:0 !important"><input name="zipcode" ng-pattern="/^[0-9]{1,7}$/" required id="zipCode" ng-model="person.zipCode" type="text" maxlength="5" size="5" placeholder="Zipcode"></div>
                            </div>
                        </label>
                    </li>

                </ul>

                <button id="saveDetails" class="button button-full button-positive" ng-click="AddItem(event)" >
                    Continue
                </button>
            </div>
        </ion-content>
    </form>
    <div class="bar bar-footer bar-light">
        <div class="title">Cognizant &copy;2014</div>
    </div>
</ion-view>
