<ion-view title="My Group - Step 2">
    <form name="userPref" novalidate>
        <ion-content class="has-header">
            <br/>


            <div class="list">

                <label class="item item-input item-select">
                    <div class="input-label">
                        Age group
                    </div>
                    <select ng-model="person.ageGroup">
                        <option value="1">Less than 18 years</option>
                        <option value="2" selected>19-25 years</option>
                        <option value="3">26-35 years</option>
                        <option value="4">36-45 years</option>
                        <option value="5">46-55 years</option>
                        <option value="6">56-65 years</option>
                        <option value="7">Greater than 65 years</option>
                    </select>
                </label>
                <br/>
                <label class="item item-radio">
                    <input ng-model="person.gender" type="radio" name="group" value="M">
                    <div class="item-content">
                        Male
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio">
                    <input ng-model="person.gender" type="radio" name="group" value="F">
                    <div class="item-content">
                        Female
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>

                <button id="saveDetails" class="button button-full button-positive" ng-click="AddItem(event)" >
                    Continue
                </button>
            </div>
        </ion-content>
    </form>
    <div class="bar bar-footer bar-light">
        <div class="title">Cognizant &copy;2014</div>
    </div>
</ion-view>
