<ion-view title="My Group - Step 3">
    <form name="userPref" novalidate>
        <ion-content class="has-header">
            <br/>

            <div class="list">

                <label class="item item-input item-select">
                    <div class="input-label">
                        Choose a category
                    </div>
                    <select ng-model="person.catg" ng-options="c.description for c in merchantCatg track by c.code">
                    </select>
                </label>
                <br/>

                <button id="saveDetails" class="button button-full button-positive" ng-click="AddItem(event)" >
                    Continue
                </button>
            </div>
        </ion-content>
    </form>
    <div class="bar bar-footer bar-light">
        <div class="title">Cognizant &copy;2014</div>
    </div>
</ion-view>
