<ion-view title="My Group - Step 3">
    <form name="userPref" novalidate>
        <ion-content class="has-header">
            <br/>

            <div class="list">

                <label class="item item-input item-select">
                    <div class="input-label">
                        Choose a category
                    </div>
                    <select ng-model="person.catg">
                        <option value="1">All</option>
                        <option value="2" selected>Cars</option>
                        <option value="3">Bars and Restaurants</option>
                        <option value="4">Beauty</option>
                        <option value="5">Book Store</option>
                        <option value="6">Construction Material</option>
                        <option value="7">Education</option>
                    </select>
                </label>
                <br/>

                <button id="saveDetails" class="button button-full button-positive" ng-click="AddItem(event)" >
                    Continue
                </button>
            </div>
        </ion-content>
    </form>
    <div class="bar bar-footer bar-light">
        <div class="title">Cognizant &copy;2014</div>
    </div>
</ion-view>
