<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <ion-tab title="My Group" icon="icon ion-android-friends" href="#/tab/group">
    <ion-nav-view name="tab-group"></ion-nav-view>
  </ion-tab>


  <ion-tab title="USpend" icon="icon ion-cash" href="#/tab/spend">
    <ion-nav-view name="tab-spend"></ion-nav-view>
  </ion-tab>


  <ion-tab title="UChoose" icon="icon ion-android-mixer" href="#/tab/choose">
    <ion-nav-view name="tab-choose"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="My Shortlists" icon="icon ion-bookmark" href="#/tab/shorts">
    <ion-nav-view name="tab-shorts"></ion-nav-view>
  </ion-tab>


</ion-tabs>
