<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
--><!--
<ion-tabs class="tabs-icon-top">


  <ion-tab title="My Group" icon="icon ion-android-friends" href="#/tab/group">
    <ion-nav-view name="tab-group"></ion-nav-view>
  </ion-tab>


  <ion-tab title="USpend" icon="icon ion-cash" href="#/tab/spend">
    <ion-nav-view name="tab-spend"></ion-nav-view>
  </ion-tab>


  <ion-tab title="UChoose" icon="icon ion-android-mixer" href="#/tab/choose">
    <ion-nav-view name="tab-choose"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="My Shortlists" icon="icon ion-bookmark" href="#/tab/shorts">
    <ion-nav-view name="tab-shorts"></ion-nav-view>
  </ion-tab>


</ion-tabs>-->

<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/tab/group">
          My Group
        </ion-item>
        <ion-item nav-clear menu-close href="#/tab/spend">
          USpend
        </ion-item>
        <ion-item nav-clear menu-close href="#/tab/choose">
          UChoose
        </ion-item>
        <ion-item nav-clear menu-close href="#/tab/shorts">
          My Shortlists
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

